* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

section {
  margin-bottom: 10rem;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: #fff;
}

.logo {
  height: 20px;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.menu {
  background-color: white;
}

.menu div {
  border: 1px solid #6070ff;
  width: 20px;
  height: 3px;
  margin: 3px;
  border-radius: 10%;
  background-color: #6070ff;
}

.main-section {
  height: calc(100vh - 48px);
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 114px 24px;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.main-section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lc {
  margin-top: 1rem;
  width: 200px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icons {
  margin-top: 1rem;
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
}

.works {
  padding: 0 15px;
 display: grid;
 align-items: center;
}
.projects {
  box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 12px;
gap: 12px;
width: calc(327px);
height: 552px;
background: #FFFFFF;
border: 1px solid #DFE1E6;
border-radius: 16px;
}
.img {
  width: 295px;
height: 220px;
border: solid 1px;
background: url(blog_drbl_4x.png);
border-radius: 8px;
}
.profilesInfo {
  width: 295px;
  height: calc(552px - 220px);
  border: solid 1px;
  background: url(blog_drbl_4x.png);
  display: grid;
  grid-template-rows: 36px 50px auto 36px auto;
  gap: 10px;
}

.profilesInfo li {
  display: flex;
  align-items: center;
  border: solid 1px;
}
.techstack {
  justify-content: space-around;
  margin-right: 20%;
}
.profilesInfo h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #172B4D;
}
.profilesInfo h3 {
  width: 55px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;
}
.profilesInfo p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #344563;
}