* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: #fff;
}

.logo {
  height: 20px;
  margin-right: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside auto layout */
}

.menu {
  background-color: white;
}

.menu div {
  border: 1px solid #6070ff;
  width: 20px;
  height: 3px;
  margin: 3px;
  border-radius: 10%;
  background-color: #6070ff;
}

.main-section {
  height: calc(100vh - 48px);
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 114px 24px;
}
